Repository Cxbx-Reloaded/Cxbx-Reloaded, pull requests merged in 2019-11, with the labels that each got.

#1770 Avoid memory leak in point-sprite texture swaps
  src/core/hle/D3D8/Direct3D9/TextureStates.cpp
Labels: HLE, bug, enhancement, graphics

#1769 Support Xbox Direct3D "read" callback events
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
  src/core/hle/D3D8/XbD3D8Types.h
Labels: HLE, enhancement, graphics

#1782 Some more cleanup
  CONTRIBUTORS
  COPYING
  resource/Cxbx.rc
  setup.bat
  src/gui/DlgAbout.cpp
Labels: enhancement, informational

#1781 Turn Cxbx version define into a variable
  CMakeLists.txt
  src/CxbxVersion.cpp
  src/CxbxVersion.h
  src/common/xbe/XbePrinter.cpp
  src/core/kernel/init/CxbxKrnl.cpp
  src/gui/DlgAbout.cpp
  src/gui/Wnd.cpp
  src/gui/Wnd.h
  src/gui/WndMain.cpp
Labels: enhancement

#1771 Corrections in render state information
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
  src/core/hle/D3D8/Direct3D9/RenderStates.cpp
  src/core/hle/D3D8/XbConvert.cpp
  src/core/hle/D3D8/XbConvert.h
  src/core/hle/D3D8/XbD3D8Types.h
Labels: HLE, enhancement, graphics, user-testing-wanted

#1783 Introduce two CxbxImpl_*'s for as-yet unimplemented functions.
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
  src/core/hle/D3D8/XbVertexBuffer.cpp
  src/core/hle/D3D8/XbVertexShader.cpp
Labels: HLE, enhancement, graphics

#1776 Update expp instruction handling
  src/core/hle/D3D8/XbD3D8Types.h
  src/core/hle/D3D8/XbVertexShader.cpp
Labels: HLE, enhancement, graphics, user-testing-wanted

#1772 Fix IP network traffic
  src/core/kernel/exports/EmuKrnlKe.cpp
  src/core/kernel/exports/EmuKrnlOb.cpp
  src/core/kernel/exports/EmuKrnlRtl.cpp
  src/core/kernel/support/EmuNtDll.cpp
  src/core/kernel/support/EmuNtDll.h
  src/devices/EmuNVNet.cpp
  src/devices/EmuNVNet.h
Labels: kernel, networking

#1785 Implement extra log component calculations
  src/core/hle/D3D8/XbVertexShader.cpp
Labels: HLE, enhancement, graphics

#1789 Corrected old ordering of D3DTOP enum elements.
  src/core/hle/D3D8/Direct3D9/TextureStates.cpp
Labels: HLE, enhancement, graphics
