Repository Cxbx-Reloaded/Cxbx-Reloaded, pull requests merged in 2020-10, with the labels that each got.

#1974 Fix Symbol Scan's Kernel Thunk Bug
  src/core/hle/Intercept.cpp
  src/core/kernel/init/CxbxKrnl.cpp
Labels: HLE

#1987 Memory manager fixes
  src/core/kernel/memory-manager/VMManager.cpp
  src/core/kernel/memory-manager/VMManager.h
Labels: memory

#1999 Pixel combiner fixes
  src/core/hle/D3D8/XbPixelShader.cpp
Labels: HLE, graphics

#1997 emux86: fix bad bios rom mapping
  src/common/AddressRanges.h
  src/devices/x86/EmuX86.cpp
Labels: LLE, memory

#1998 Simplify thread creation logic, remove hardcoded delays and tighten affinity changes
  src/core/kernel/common/ps.h
  src/core/kernel/exports/EmuKrnlPs.cpp
Labels: kernel, threading

#1982 Use std::vector for g_InlineVertexBuffer_Table instead of realloc
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
  src/core/hle/D3D8/XbVertexBuffer.cpp
  src/core/hle/D3D8/XbVertexBuffer.h
Labels: HLE, enhancement, graphics

#2001 Pixel shader fix XFC SUM
  src/core/hle/D3D8/XbPixelShader.cpp
Labels: HLE, bug, graphics

#2003 Fix APU timer ticking at wrong frequency
  src/common/Timer.cpp
  src/common/Timer.h
  src/core/hle/DSOUND/DirectSound/DirectSound.cpp
  src/core/kernel/exports/EmuKrnlKe.cpp
Labels: timing

#2007 Changes to D3D patches
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp.unused-patches
  src/core/hle/D3D8/Direct3D9/Direct3D9.h
  src/core/hle/Patches.cpp
Labels: HLE, graphics

#1993 DSound improvements (alternative volume heuristics)
  src/core/hle/DSOUND/DirectSound/DirectSoundInline.hpp
Labels: HLE, sound, user-testing-wanted
