Repository Cxbx-Reloaded/Cxbx-Reloaded, pull requests merged in 2020-12, with the labels that each got.

#2058 Change listing to target specific type than default order
  src/common/input/InputManager.h
  src/gui/DlgInputConfig.cpp
Labels: bug, input, user interface

#2060 Fix incorrect flags in NtDuplicateObject
  src/core/kernel/exports/EmuKrnlNt.cpp
Labels: kernel

#2039 Another Round of DSound's Stream fixes
  src/core/hle/DSOUND/DirectSound/DSStream_PacketManager.cpp
  src/core/hle/DSOUND/DirectSound/DirectSound.cpp
  src/core/hle/DSOUND/DirectSound/DirectSound.hpp
  src/core/hle/DSOUND/DirectSound/DirectSoundInline.hpp
  src/core/hle/DSOUND/DirectSound/DirectSoundStream.cpp
  src/core/hle/DSOUND/XbDSoundLogging.cpp
  src/core/hle/DSOUND/XbDSoundLogging.hpp
  src/core/hle/DSOUND/XbDSoundTypes.h
Labels: HLE, bug, enhancement, sound

#2067 Fix Audio Overall Volume Not Included From Input Sets of Volume
  src/core/hle/DSOUND/DirectSound/DirectSoundInline.hpp
  src/core/hle/DSOUND/XbDSoundLogging.cpp
  src/core/hle/DSOUND/XbDSoundLogging.hpp
Labels: HLE, bug, sound
