Repository Cxbx-Reloaded/Cxbx-Reloaded, pull requests merged in 2020-11, with the labels that each got.

#2029 Action: Replace Deprecated Method to New Method for Set Environment
  .github/workflows/CI.yml
Labels: deployment, high-priority

#2030 Action: Fix CI Release Job
  .github/workflows/CI.yml
Labels: deployment

#1894 Vertex declaration refactoring
  src/core/hle/D3D8/Direct3D9/CxbxVertexShaderTemplate.hlsl
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp.unused-patches
  src/core/hle/D3D8/Direct3D9/Direct3D9.h
  src/core/hle/D3D8/Direct3D9/TextureStates.cpp
  src/core/hle/D3D8/Direct3D9/TextureStates.h
  src/core/hle/D3D8/Direct3D9/VertexShader.cpp
  src/core/hle/D3D8/Direct3D9/VertexShader.h
  src/core/hle/D3D8/Direct3D9/VertexShaderSource.cpp
  src/core/hle/D3D8/Direct3D9/VertexShaderSource.h
  src/core/hle/D3D8/XbConvert.cpp
  src/core/hle/D3D8/XbD3D8Types.h
  src/core/hle/D3D8/XbPixelShader.cpp
  src/core/hle/D3D8/XbPushBuffer.cpp
  src/core/hle/D3D8/XbPushBuffer.h
  src/core/hle/D3D8/XbVertexBuffer.cpp
  src/core/hle/D3D8/XbVertexBuffer.h
  src/core/hle/D3D8/XbVertexShader.cpp
  src/core/hle/D3D8/XbVertexShader.h
  src/core/hle/Patches.cpp
  src/devices/video/EmuNV2A_PGRAPH.cpp
  src/devices/video/nv2a.cpp
  src/devices/video/nv2a.h
  src/devices/video/nv2a_regs.h
Labels: HLE, enhancement, graphics

#2037 Allow cxbxr to work again with wine under Linux
  src/common/AddressRanges.cpp
Labels: enhancement, memory

#2033 Improve viewport calculations
  src/core/hle/D3D8/Direct3D9/CxbxVertexShaderTemplate.hlsl
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
  src/core/hle/D3D8/Direct3D9/Direct3D9.h
  src/core/hle/D3D8/Direct3D9/VertexShader.cpp
  src/core/hle/D3D8/XbD3D8Types.h
Labels: HLE, graphics

#2038 Fix free up address range's system allocated
  src/common/AddressRanges.cpp
  src/common/AddressRanges.h
  src/common/ReserveAddressRanges.cpp
Labels: bug, high-priority, memory
