Repository Cxbx-Reloaded/Cxbx-Reloaded, pull requests merged in 2020-06, with the labels that each got.

#1916 Couple DirectSound Fixes
  CMakeLists.txt
  src/core/hle/DSOUND/DirectSound/DirectSoundBuffer.cpp
  src/core/hle/DSOUND/XbDSoundFuncs.hpp
  src/core/hle/DSOUND/common/windows/WFXformat.hpp
Labels: sound

#1915 Implement KeReleaseSemaphore
  import/OpenXDK/include/xboxkrnl/kernel.h
  import/OpenXDK/include/xboxkrnl/xboxkrnl.h
  src/core/kernel/exports/EmuKrnlEx.cpp
  src/core/kernel/exports/EmuKrnlKe.cpp
Labels: kernel

#1918 Update FscSetCacheSize to match original kernel
  import/OpenXDK/include/xboxkrnl/xbox.h
  src/core/kernel/exports/EmuKrnlFs.cpp
  src/core/kernel/init/CxbxKrnl.cpp
Labels: kernel

#1917 Rewrite HalReadSMCTrayState to match original kernel implementation.
  import/OpenXDK/include/xboxkrnl/hal.h
  src/core/kernel/exports/EmuKrnlHal.cpp
  src/devices/SMCDevice.h
Labels: kernel

#1922 Update Create Release Action v1.1.1
  .github/workflows/CI.yml
Labels: deployment, high-priority

#1923 Load the most appropriate xinput dll based on the Windows version
  src/common/input/XInputPad.cpp
Labels: enhancement, input

#1921 Improve Popup Handler
  src/common/Logging.cpp
  src/common/Logging.h
  src/common/Settings.cpp
  src/common/Settings.hpp
  src/common/input/InputWindow.cpp
  src/common/win32/EmuShared.h
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
  src/core/hle/Intercept.cpp
  src/core/hle/XAPI/Xapi.cpp
  src/core/kernel/exports/EmuKrnlHal.cpp
  src/core/kernel/exports/EmuKrnlRtl.cpp
  src/core/kernel/init/CxbxKrnl.cpp
  src/core/kernel/init/CxbxKrnl.h
  src/core/kernel/support/Emu.cpp
  src/emulator/cxbxr-emu.cpp
  src/gui/DlgAudioConfig.cpp
  src/gui/DlgDukeControllerConfig.cpp
  src/gui/DlgEepromConfig.cpp
  src/gui/DlgLoggingConfig.cpp
  src/gui/DlgVideoConfig.cpp
  src/gui/WinMain.cpp
  src/gui/WndMain.cpp
  src/gui/resource/Cxbx.rc
  src/gui/resource/ResCxbx.h
Labels: enhancement, user interface

#1925 Show a popup when xbe sections are corrupted + print section corruption status on xbe dumps as well
  src/common/Logging.cpp
  src/common/Settings.cpp
  src/common/Settings.hpp
  src/common/xbe/Xbe.cpp
  src/common/xbe/Xbe.h
  src/common/xbe/XbePrinter.cpp
  src/core/kernel/init/CxbxKrnl.cpp
  src/gui/WndMain.cpp
  src/gui/resource/Cxbx.rc
  src/gui/resource/ResCxbx.h
Labels: enhancement, user interface
