Repository Cxbx-Reloaded/Cxbx-Reloaded, pull requests merged in 2021-04, with the labels that each got.

#2181 Convert STENCILFAIL
  src/core/hle/D3D8/Direct3D9/RenderStates.cpp
Labels: HLE, graphics

#2178 Minor kernel fixes
  src/common/xbox_types.h
  src/core/kernel/common/types.h
  src/core/kernel/exports/EmuKrnlIo.cpp
  src/core/kernel/exports/EmuKrnlKe.cpp
  src/core/kernel/exports/EmuKrnlNt.cpp
  src/core/kernel/exports/EmuKrnlOb.cpp
  src/core/kernel/exports/EmuKrnlRtl.cpp
  src/core/kernel/init/CxbxKrnl.cpp
  src/core/kernel/support/EmuFile.cpp
Labels: HLE, file-system, kernel

#2183 HOTFIX: remove optimization due to AND bit operator does not keep in order
  src/common/input/InputManager.cpp
Labels: bug, input

#2182 Detect mismatches between the cxbxr executables
  projects/cxbxr-ldr/CMakeLists.txt
  src/CxbxVersion.cpp
  src/CxbxVersion.h
  src/common/win32/EmuShared.cpp
  src/common/win32/EmuShared.h
  src/core/kernel/init/CxbxKrnl.cpp
  src/core/kernel/init/CxbxKrnl.h
  src/emulator/cxbxr-emu.cpp
  src/loader/cxbxr-ldr.cpp
Labels: HLE, cmake, enhancement, kernel

#2185 ImGui: couple fixes for different cause of crashes
  src/core/common/video/RenderBase.hpp
  src/core/kernel/init/CxbxKrnl.cpp
Labels: HLE, bug, kernel

#2189 Removed old vsbc files
  src/gui/controllers/DlgVirtualSBCFeedback.cpp
  src/gui/controllers/WndSBCFeedback.cpp
  src/gui/controllers/WndSBCFeedback.h
Labels: input, user interface

#2188 Removed patch menu and SaveXbe(As) options from GUI
  src/gui/WndMain.cpp
  src/gui/resource/Cxbx.rc
  src/gui/resource/ResCxbx.h
Labels: user interface

#2196 Fix some HLSL issues
  src/core/hle/D3D8/Direct3D9/CxbxPixelShaderTemplate.hlsl
  src/core/hle/D3D8/Direct3D9/FixedFunctionPixelShader.hlsl
Labels: HLE, graphics

#2197 Add ES_AUTOHSCROLL style to hdd and online key in the eeprom edit dialog
  src/gui/resource/Cxbx.rc
Labels: bug, user interface

#2201 Implement missing texture behaviour
  src/core/hle/D3D8/Direct3D9/FixedFunctionPixelShader.hlsl
  src/core/hle/D3D8/XbPixelShader.cpp
Labels: HLE, graphics

#2200 Fix RtlUnicodeStringToAnsiString bug
  src/core/kernel/exports/EmuKrnlRtl.cpp
Labels: HLE, bug, kernel

#2203 Add delayimp lib
  .gitignore
  projects/cxbx/CMakeLists.txt
  projects/cxbxr-emu/CMakeLists.txt
Labels: cmake

#2205 move minor changes into upstream from chihiro branch
  src/common/xbe/Xbe.cpp
  src/core/kernel/common/xbox.h
  src/core/kernel/exports/EmuKrnlAv.cpp
  src/core/kernel/exports/EmuKrnlXe.cpp
Labels: HLE, kernel

#2193 kernel: implement title mount path
  src/common/Settings.hpp
  src/common/win32/EmuShared.h
  src/common/xbox_types.h
  src/core/hle/XAPI/Xapi.cpp
  src/core/kernel/exports/EmuKrnlHal.cpp
  src/core/kernel/init/CxbxKrnl.cpp
  src/core/kernel/init/CxbxKrnl.h
  src/core/kernel/support/EmuFile.cpp
  src/core/kernel/support/EmuFile.h
Labels: HLE, file-system, kernel

#2206 check for null device
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
Labels: HLE, graphics

#2207 cmake: Fix format for Ninja generator
  projects/cxbx/CMakeLists.txt
  projects/cxbxr-emu/CMakeLists.txt
  projects/cxbxr-ldr/CMakeLists.txt
Labels: cmake

#2213 Reworded fatal error message popup
  src/core/kernel/support/Emu.cpp
Labels: HLE, kernel

#2211 Remove extra projects we don't need at all and add SDL2 binary to be install
  CMakeLists.txt
Labels: cmake

#2214 CI.yml: Use cmake -B
  .github/workflows/CI.yml
Labels: deployment
