Repository Cxbx-Reloaded/Cxbx-Reloaded, pull requests merged in 2021-05, with the labels that each got.

#2217 Removed unnecessary calls to SetWindowText
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
  src/core/kernel/init/CxbxKrnl.cpp
Labels: HLE, graphics, kernel

#2215 Change IVB to an array of 4-float slots
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
  src/core/hle/D3D8/XbD3D8Types.h
  src/core/hle/D3D8/XbVertexBuffer.cpp
  src/core/hle/D3D8/XbVertexBuffer.h
  src/core/hle/D3D8/XbVertexShader.cpp
Labels: HLE, graphics

#2220 Fix Metal Arms menu
  src/core/hle/D3D8/Direct3D9/CxbxPixelShaderTemplate.hlsl
Labels: HLE, graphics

#2210 Few fixes toward title mount path and prepped for chihiro work
  src/common/Settings.cpp
  src/core/kernel/exports/EmuKrnlHal.cpp
  src/core/kernel/init/CxbxKrnl.cpp
  src/core/kernel/support/Emu.cpp
  src/core/kernel/support/Emu.h
  src/core/kernel/support/EmuFile.cpp
  src/core/kernel/support/EmuFile.h
Labels: HLE, file-system, kernel

#2221 Keep ImageBuffer backup copy, handle ImageDesc with rebase address, Fix Otogi 1, Otogi 2, PGR2 booting.
  src/core/hle/DSOUND/DirectSound/DirectSound.cpp
  src/core/hle/DSOUND/DirectSound/DirectSound.hpp
  src/core/hle/DSOUND/DirectSound/XFileMediaObject.cpp
  src/core/hle/Patches.cpp
  src/core/kernel/common/ob.h
  src/core/kernel/common/types.h
Labels: HLE, kernel, sound

#2222 Add controller hotplug support
  CMakeLists.txt
  src/common/Logging.cpp
  src/common/Logging.h
  src/common/input/InputManager.cpp
  src/common/input/InputManager.h
  src/common/input/RawDevice.cpp
  src/common/input/RawDevice.h
  src/common/input/SdlJoystick.cpp
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
  src/gui/DlgLoggingConfig.cpp
  src/gui/resource/Cxbx.rc
  src/gui/resource/ResCxbx.h
Labels: HLE, cmake, graphics, informational, input, user interface
