Repository Cxbx-Reloaded/Cxbx-Reloaded, pull requests merged in 2021-03, with the labels that each got.

#2150 Add support for the arcade joystick device to the input gui
  src/common/Settings.cpp
  src/common/input/EmuDevice.cpp
  src/common/input/InputDevice.cpp
  src/common/input/InputDevice.h
  src/common/input/InputManager.cpp
  src/common/input/InputManager.h
  src/core/hle/XAPI/Xapi.cpp
  src/gui/DlgInputConfig.cpp
  src/gui/controllers/DlgDukeControllerConfig.cpp
Labels: HLE, enhancement, input, user interface

#2141 Hide Sensitive Fields from EEPROM gui
  src/gui/DlgEepromConfig.cpp
  src/gui/resource/Cxbx.rc
Labels: enhancement, user interface

#2153 Measure the string length to get the correct size the string should be
  src/core/hle/Intercept.cpp
Labels: HLE

#2154 Fix XeUnloadSection errorerously zeroing memory
  src/common/xbe/Xbe.cpp
  src/core/kernel/exports/EmuKrnlXe.cpp
Labels: HLE, kernel

#2155 Fix partition formatting
  src/core/kernel/support/EmuFile.cpp
  src/core/kernel/support/EmuFile.h
Labels: HLE, file-system, kernel

#2156 Further improve partition path functions
  src/core/kernel/support/EmuFile.cpp
  src/core/kernel/support/EmuFile.h
Labels: HLE, file-system, kernel

#2151 Use the backbuffer format requested by the title
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
  src/core/hle/D3D8/XbConvert.cpp
Labels: HLE, graphics

#2152 Added option to allow kb/mo input when the rendering window is unfocused
  src/common/Settings.cpp
  src/common/Settings.hpp
  src/common/input/DInputKeyboardMouse.cpp
  src/common/input/DInputKeyboardMouse.h
  src/common/input/InputManager.cpp
  src/common/win32/EmuShared.cpp
  src/common/win32/EmuShared.h
  src/gui/DlgInputConfig.cpp
  src/gui/resource/Cxbx.rc
  src/gui/resource/ResCxbx.h
Labels: input, user interface

#2157 Tidy mip code and work around DXT crash with small textures
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
Labels: HLE, graphics

#2160 Improve scaling of depth buffer texture coordinates
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
Labels: HLE, graphics

#2165 Fix crash in fullscreen mode
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
Labels: HLE, graphics

#2164 Vertex buffer cache improvements
  src/common/util/hasher.cpp
  src/common/util/hasher.h
  src/core/hle/D3D8/XbVertexBuffer.cpp
  src/core/hle/D3D8/XbVertexBuffer.h
Labels: HLE, graphics

#2168 Upscale rendertargets and depth surfaces consistently
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
Labels: HLE, graphics

#2170 Added option to clear the cache partitions from the GUI
  src/gui/WndMain.cpp
  src/gui/resource/Cxbx.rc
  src/gui/resource/ResCxbx.h
Labels: user interface

#2171 Free thread resources upon termination
  src/core/kernel/exports/EmuKrnlPs.cpp
  src/core/kernel/support/EmuFS.cpp
  src/core/kernel/support/EmuFS.h
Labels: HLE, kernel, threading

#2176 Implemented XInputPoll
  src/common/input/InputManager.h
  src/core/hle/XAPI/Xapi.cpp
Labels: HLE, input

#2172 Use Win10 CPU Sets API where supported
  src/common/Timer.cpp
  src/common/Timer.h
  src/common/input/InputManager.cpp
  src/common/input/SdlJoystick.cpp
  src/common/win32/Threads.cpp
  src/common/win32/Threads.h
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
  src/core/hle/D3D8/Direct3D9/VertexShaderSource.cpp
  src/core/hle/DSOUND/DirectSound/DirectSound.cpp
  src/core/kernel/exports/EmuKrnlKe.cpp
  src/core/kernel/exports/EmuKrnlPs.cpp
  src/core/kernel/init/CxbxKrnl.cpp
  src/core/kernel/init/CxbxKrnl.h
  src/core/kernel/support/Emu.h
  src/devices/network/NVNetDevice.cpp
  src/devices/usb/OHCI.cpp
  src/devices/video/EmuNV2A_PFIFO.cpp
  src/devices/video/nv2a.cpp
Labels: HLE, LLE, graphics, input, kernel, networking, sound, timing
