Repository Cxbx-Reloaded/Cxbx-Reloaded, pull requests merged in 2021-06, with the labels that each got.

#2232 Avoid unnecessary shader constant updates
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
Labels: HLE, graphics

#2231 SleepPrecise for more accurate sleeps
  src/common/Timer.cpp
  src/common/Timer.h
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
  src/devices/video/nv2a.cpp
Labels: HLE, LLE, graphics, timing

#2136 Pixel shader hlsl
  CMakeLists.txt
  projects/misc/batch.cmake
  src/core/hle/D3D8/Direct3D9/CxbxPixelShaderTemplate.hlsl
  src/core/hle/D3D8/Direct3D9/CxbxVertexShaderTemplate.hlsl
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
  src/core/hle/D3D8/Direct3D9/FixedFunctionPixelShader.hlsl
  src/core/hle/D3D8/Direct3D9/FixedFunctionPixelShader.hlsli
  src/core/hle/D3D8/Direct3D9/FixedFunctionVertexShader.hlsl
  src/core/hle/D3D8/Direct3D9/FixedFunctionVertexShaderState.hlsli
  src/core/hle/D3D8/Direct3D9/PixelShader.cpp
  src/core/hle/D3D8/Direct3D9/PixelShader.h
  src/core/hle/D3D8/Direct3D9/RenderStates.cpp
  src/core/hle/D3D8/Direct3D9/RenderStates.h
  src/core/hle/D3D8/Direct3D9/Shader.cpp
  src/core/hle/D3D8/Direct3D9/Shader.h
  src/core/hle/D3D8/Direct3D9/TextureStates.cpp
  src/core/hle/D3D8/Direct3D9/TextureStates.h
  src/core/hle/D3D8/Direct3D9/VertexShader.cpp
  src/core/hle/D3D8/Direct3D9/VertexShader.h
  src/core/hle/D3D8/Direct3D9/VertexShaderSource.cpp
  src/core/hle/D3D8/XbConvert.cpp
  src/core/hle/D3D8/XbD3D8Types.h
  src/core/hle/D3D8/XbPixelShader.cpp
  src/core/hle/D3D8/XbPixelShader.h
  src/core/hle/D3D8/XbVertexShader.cpp
  src/core/hle/D3D8/XbVertexShader.h
Labels: HLE, cmake, enhancement, graphics

#2234 Left over commits for fixing vector iterator in DSStream packet, this gets PGR2 in race with both release and debug build.
  src/core/hle/DSOUND/DirectSound/DSStream_PacketManager.cpp
  src/core/hle/DSOUND/DirectSound/DirectSoundInline.hpp
Labels: HLE, sound

#2238 Removed unused dwBytesRead variable and unused argument from XB_InitalizeObjectAttributes macro
  src/core/hle/DSOUND/DirectSound/XFileMediaObject.cpp
  src/core/kernel/common/ob.h
  src/core/kernel/exports/EmuKrnlOb.cpp
Labels: HLE, kernel, sound

#2239 Add support to load dsp images from xbe sections
  src/common/xbe/Xbe.cpp
  src/common/xbe/Xbe.h
  src/core/hle/DSOUND/DirectSound/XFileMediaObject.cpp
  src/gui/WndMain.cpp
Labels: HLE, sound, user interface

#2240 Make XeLoadSection return status_invalid_handle when it cannot find the requested section
  src/core/kernel/exports/EmuKrnlXe.cpp
Labels: HLE, kernel

#2237 fixing 3D mip-map conversion with volume texture, fix Halo
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
Labels: HLE, graphics

#2241 Typo fixes
  src/gui/WndMain.cpp
Labels: user interface

#2242 CI.yml: Use gh release create
  .github/workflows/CI.yml
Labels: deployment

#2243 Upstream Chihiro Non-LLE Code
  src/common/Logging.cpp
  src/common/Logging.h
  src/core/hle/Intercept.cpp
  src/core/hle/Intercept.hpp
  src/core/hle/XAPI/Xapi.cpp
  src/core/kernel/exports/EmuKrnlHal.cpp
  src/core/kernel/init/CxbxKrnl.cpp
  src/core/kernel/support/EmuFile.cpp
  src/core/kernel/support/EmuFile.h
  src/gui/DlgLoggingConfig.cpp
  src/gui/resource/Cxbx.rc
  src/gui/resource/ResCxbx.h
Labels: HLE, file-system, informational, kernel, user interface

#2245 Fix Release Title Default
  .github/workflows/CI.yml
Labels: deployment

#2248 Raise max resolution scale to 12x
  src/gui/DlgVideoConfig.cpp
Labels: graphics, user interface

#2250 Fixed a crash in Halo 2 on debug builds
  src/core/kernel/exports/EmuKrnlKe.cpp
Labels: HLE, kernel

#2249 CI changes
  .azure-pipelines.yml
  .github/workflows/CI.yml
Labels: deployment
