Repository Cxbx-Reloaded/Cxbx-Reloaded, pull requests merged in 2021-02, with the labels that each got.

#2129 Update Prerequisites Section
  README.md
Labels: informational

#2134 Add Steel Battalion controller support to input gui
  CMakeLists.txt
  projects/vsbc/CMakeLists.txt
  src/common/Settings.cpp
  src/common/input/Button.cpp
  src/common/input/Button.h
  src/common/input/EmuDevice.cpp
  src/common/input/EmuDevice.h
  src/common/input/InputDevice.cpp
  src/common/input/InputDevice.h
  src/common/input/InputManager.cpp
  src/common/input/InputManager.h
  src/common/input/InputWindow.cpp
  src/common/input/InputWindow.h
  src/common/input/layout_xbox_controller.h
  src/common/input/layout_xbox_device.h
  src/common/win32/EmuShared.h
  src/core/hle/XAPI/Xapi.cpp
  src/core/hle/XAPI/Xapi.h
  src/core/hle/XAPI/XapiCxbxr.h
  src/gui/DlgInputConfig.cpp
  src/gui/controllers/DlgDukeControllerConfig.cpp
  src/gui/controllers/DlgSBControllerConfig.cpp
  src/gui/controllers/DlgSBControllerConfig.h
  src/gui/resource/Cxbx.rc
  src/gui/resource/ResCxbx.h
  src/vsbc/CxbxVSBC.cpp
  src/vsbc/CxbxVSBC.h
  src/vsbc/DlgVirtualSBCFeedback.cpp
  src/vsbc/dllmain.cpp
  src/vsbc/stdafx.cpp
  src/vsbc/stdafx.h
  src/vsbc/targetver.h
Labels: enhancement, input, user-testing-wanted

#2135 Add support for mouse input as cursor position relative to the rendering window
  src/common/Settings.cpp
  src/common/input/Button.cpp
  src/common/input/Button.h
  src/common/input/DInputKeyboardMouse.cpp
  src/common/input/DInputKeyboardMouse.h
  src/common/input/EmuDevice.cpp
  src/common/input/EmuDevice.h
  src/common/input/InputDevice.h
  src/common/input/InputManager.cpp
  src/common/input/InputManager.h
  src/common/input/InputWindow.cpp
  src/common/input/InputWindow.h
  src/common/util/CxbxUtil.cpp
  src/common/util/CxbxUtil.h
  src/core/kernel/init/CxbxKrnl.cpp
  src/gui/DlgInputConfig.cpp
  src/gui/controllers/DlgDukeControllerConfig.cpp
  src/gui/controllers/DlgSBControllerConfig.cpp
Labels: enhancement, input

#2140 Removed redundant allocation functions in VMManager
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
  src/core/hle/D3D8/XbVertexBuffer.cpp
  src/core/hle/XACTENG/XactEng.cpp
  src/core/kernel/init/CxbxKrnl.cpp
  src/core/kernel/memory-manager/VMManager.cpp
  src/core/kernel/memory-manager/VMManager.h
  src/core/kernel/support/EmuFS.cpp
  src/core/kernel/support/EmuFile.cpp
Labels: enhancement, memory
