Repository Cxbx-Reloaded/Cxbx-Reloaded, pull requests merged in 2021-12, with the labels that each got.

#2296 Switched some xbox ntstatus codes to uppercase
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
  src/core/hle/DSOUND/DirectSound/DirectSoundBuffer.cpp
  src/core/hle/DSOUND/DirectSound/DirectSoundStream.cpp
  src/core/hle/DSOUND/DirectSound/XFileMediaObject.cpp
  src/core/hle/XAPI/Xapi.cpp
  src/core/kernel/common/types.h
  src/core/kernel/exports/EmuKrnlAv.cpp
  src/core/kernel/exports/EmuKrnlDbg.cpp
  src/core/kernel/exports/EmuKrnlEx.cpp
  src/core/kernel/exports/EmuKrnlFs.cpp
  src/core/kernel/exports/EmuKrnlHal.cpp
  src/core/kernel/exports/EmuKrnlIo.cpp
  src/core/kernel/exports/EmuKrnlKe.cpp
  src/core/kernel/exports/EmuKrnlKi.h
  src/core/kernel/exports/EmuKrnlLogging.cpp
  src/core/kernel/exports/EmuKrnlMm.cpp
  src/core/kernel/exports/EmuKrnlNt.cpp
  src/core/kernel/exports/EmuKrnlOb.cpp
  src/core/kernel/exports/EmuKrnlPhy.cpp
  src/core/kernel/exports/EmuKrnlPs.cpp
  src/core/kernel/exports/EmuKrnlRtl.cpp
  src/core/kernel/exports/EmuKrnlXe.cpp
  src/core/kernel/init/CxbxKrnl.cpp
  src/core/kernel/memory-manager/VMManager.cpp
  src/core/kernel/support/EmuFS.cpp
  src/core/kernel/support/EmuFile.cpp
Labels: kernel, HLE, graphics, sound, file-system, threading, memory, informational

#2297 Simulate correctly the USB enumeration process in XGetDevices
  src/core/hle/XAPI/Xapi.cpp
Labels: HLE

#2284 Tweak Swap behaviour to fix flickering in some titles
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
  src/core/hle/D3D8/XbD3D8Types.h
Labels: HLE, graphics

#2302 Allow ObIniSystem to succeed
  CMakeLists.txt
  src/core/hle/DSOUND/DirectSound/XFileMediaObject.cpp
  src/core/hle/XAPI/Xapi.cpp
  src/core/kernel/common/ob.h
  src/core/kernel/common/types.h
  src/core/kernel/exports/EmuKrnlNt.cpp
  src/core/kernel/exports/EmuKrnlOb.cpp
  src/core/kernel/init/CxbxKrnl.cpp
  src/core/kernel/support/EmuFile.cpp
  src/core/kernel/support/EmuNtDll.h
  src/core/kernel/support/NativeHandle.cpp
  src/core/kernel/support/NativeHandle.h
Labels: kernel, HLE, sound, file-system, cmake
