Repository Cxbx-Reloaded/Cxbx-Reloaded, pull requests merged in 2021-07, with the labels that each got.

#2256 Fix cubemap faces all being the same face
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
Labels: HLE, graphics

#2254 Small Clean Up Portion of EmuFile Usage
  src/core/kernel/init/CxbxKrnl.cpp
  src/core/kernel/support/EmuFile.cpp
  src/core/kernel/support/EmuFile.h
Labels: HLE, file-system, kernel

#2257 HACK: DS Stream GetStatus function workaround mimic hack.
  src/core/hle/DSOUND/DirectSound/DirectSoundStream.cpp
Labels: HLE, sound

#2259 Removed unnecessary info from the cxbxr title string
  src/CxbxVersion.cpp
  src/CxbxVersion.h
  src/gui/WndMain.cpp
Labels: user interface

#2261 Removed stdcall from EmuLog functions
  src/common/Logging.cpp
  src/common/Logging.h
Labels: informational

#2266 Reworded error message displayed when cxbxr fails to launch an xbe
  src/common/win32/InlineFunc.cpp
  src/core/kernel/init/CxbxKrnl.h
  src/core/kernel/support/EmuFile.cpp
  src/gui/WndMain.cpp
Labels: HLE, file-system, kernel, user interface

#2267 Fix loading from UNC paths
  src/core/kernel/init/CxbxKrnl.cpp
Labels: HLE, kernel

#2268 Print the windows error string when CreateProcess fails to create the new emulation process
  CMakeLists.txt
  src/common/win32/InlineFunc.cpp
  src/common/win32/Util.cpp
  src/common/win32/Util.h
Labels: cmake
