Repository Cxbx-Reloaded/Cxbx-Reloaded, pull requests merged in 2022-02, with the labels that each got.

#2318 Fix kernel type hints for READ_PORT_BUFFER and friends
  src/core/kernel/common/hal.h
  src/core/kernel/exports/EmuKrnlHal.cpp
Labels: kernel, HLE

#2319 Move Crash Manager's Init at Beginning of Emulation & Fix Hidden Crash
  src/core/kernel/init/CxbxKrnl.cpp
  src/core/kernel/support/Emu.cpp
  src/core/kernel/support/EmuFS.cpp
Labels: kernel, HLE, threading

#2320 Fix incorrect type in port io kernel functions
  src/core/kernel/common/hal.h
  src/core/kernel/exports/EmuKrnlHal.cpp
Labels: kernel, HLE

#2321 Cleanup system selection, so it's no longer abusing xbeType
  src/Cxbx.h
  src/core/kernel/exports/EmuKrnlEx.cpp
  src/core/kernel/init/CxbxKrnl.cpp
Labels: kernel, HLE

#2315 Updated Ps kernel functions to use Ob handles + unpatch thread XAPI functions + added APC support to kernel via Ob
  src/common/Timer.cpp
  src/common/Timer.h
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
  src/core/hle/Patches.cpp
  src/core/hle/XAPI/Xapi.cpp
  src/core/hle/XAPI/Xapi.cpp.unused-patches
  src/core/hle/XAPI/Xapi.h
  src/core/kernel/common/kernel.h
  src/core/kernel/common/nt.h
  src/core/kernel/common/ps.h
  src/core/kernel/common/types.h
  src/core/kernel/exports/EmuKrnl.cpp
  src/core/kernel/exports/EmuKrnl.h
  src/core/kernel/exports/EmuKrnlHal.cpp
  src/core/kernel/exports/EmuKrnlKe.cpp
  src/core/kernel/exports/EmuKrnlKe.h
  src/core/kernel/exports/EmuKrnlKi.cpp
  src/core/kernel/exports/EmuKrnlKi.h
  src/core/kernel/exports/EmuKrnlNt.cpp
  src/core/kernel/exports/EmuKrnlOb.cpp
  src/core/kernel/exports/EmuKrnlPs.cpp
  src/core/kernel/init/CxbxKrnl.cpp
  src/core/kernel/init/CxbxKrnl.h
  src/core/kernel/support/Emu.cpp
  src/core/kernel/support/Emu.h
  src/core/kernel/support/EmuFS.cpp
  src/core/kernel/support/EmuFS.h
  src/core/kernel/support/NativeHandle.cpp
  src/core/kernel/support/NativeHandle.h
  src/devices/network/NVNetDevice.cpp
  src/devices/video/nv2a.cpp
Labels: kernel, HLE, LLE, graphics, timing, threading, networking
