Repository Cxbx-Reloaded/Cxbx-Reloaded, pull requests merged in 2022-01, with the labels that each got.

#2306 Fixup sampling cube textures with PROJECT2D
  src/core/hle/D3D8/XbPixelShader.cpp
Labels: HLE, graphics

#2299 CI.yml: Minor improvements
  .github/workflows/CI.yml
Labels: deployment

#2312 Fix UEM and LED Status
  src/core/kernel/init/CxbxKrnl.cpp
  src/gui/WndMain.cpp
  src/gui/WndMain.h
Labels: kernel, HLE, user interface
