Repository Cxbx-Reloaded/Cxbx-Reloaded, pull requests merged in 2022-09, with the labels that each got.

#2397 correct mod instruction
  src/core/hle/D3D8/Direct3D9/CxbxPixelShaderTemplate.hlsl
Labels: HLE, graphics

#2400 Fixed a Folder select dialog
  src/gui/WndMain.cpp
Labels: user interface

#2398 hasher: use xxh3 exclusively
  CMakeLists.txt
  src/common/util/crc32c.cpp
  src/common/util/crc32c.h
  src/common/util/hasher.cpp
  src/common/util/hasher.h
Labels: cmake
