Repository Cxbx-Reloaded/Cxbx-Reloaded, pull requests merged in 2022-07, with the labels that each got.

#2384 EmuException: allow skipping of instructions that trigger unhandled exceptions
  src/common/Logging.cpp
  src/core/kernel/support/Emu.cpp
Labels: kernel, HLE, informational

#2385 Fixed a crash in the gui when opening an xbe fails
  src/common/xbe/Xbe.cpp
  src/common/xbe/Xbe.h
  src/core/kernel/init/CxbxKrnl.cpp
  src/gui/WndMain.cpp
Labels: kernel, HLE, user interface

#2374 Fix vertex shader op independence
  src/core/hle/D3D8/Direct3D9/CxbxVertexShaderTemplate.hlsl
  src/core/hle/D3D8/Direct3D9/VertexShader.cpp
  src/core/hle/D3D8/XbVertexShader.cpp
  src/core/hle/D3D8/XbVertexShader.h
Labels: HLE, graphics

#2386 emufile: fix multi-xbe titles when running through xbox-iso-vfs
  src/core/kernel/support/EmuFile.cpp
Labels: kernel, HLE, file-system

#2387 Fix heap corruption in NVNetDevice::GetMacAddress
  src/devices/network/NVNetDevice.cpp
Labels: LLE, networking
