Repository Cxbx-Reloaded/Cxbx-Reloaded, pull requests merged in 2022-03, with the labels that each got.

#2325 hle: detect when patches fail to apply
  src/core/hle/Patches.cpp
Labels: HLE

#2310 CI: Upgrade to VS2022
  .github/workflows/CI.yml
  README.md
Labels: deployment

#2328 CI: Upgrade checkout+upload/download-artifact to v3+labeler to v4
  .github/workflows/CI.yml
  .github/workflows/autoclose.yml
  .github/workflows/pull-request.yml
Labels: deployment

#2334 Updated cxbxr projects to use and build with C++20
  .github/workflows/CI.yml
  README.md
  projects/cxbx/CMakeLists.txt
  projects/cxbxr-emu/CMakeLists.txt
  projects/cxbxr-ldr/CMakeLists.txt
  src/common/Logging.cpp
  src/common/Logging.h
  src/common/Settings.cpp
  src/common/input/Button.cpp
  src/common/input/Button.h
  src/common/input/EmuDevice.cpp
  src/common/input/InputManager.cpp
  src/common/input/InputWindow.cpp
  src/common/util/CxbxUtil.cpp
  src/common/util/CxbxUtil.h
  src/common/win32/EmuShared.h
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
  src/core/hle/D3D8/Direct3D9/TextureStates.cpp
  src/core/hle/D3D8/Direct3D9/VertexShader.cpp
  src/core/hle/D3D8/Direct3D9/VertexShaderSource.h
  src/core/hle/D3D8/XbConvert.cpp
  src/core/hle/D3D8/XbConvert.h
  src/core/kernel/exports/EmuKrnl.h
  src/core/kernel/exports/EmuKrnlHal.cpp
  src/core/kernel/exports/EmuKrnlKe.cpp
  src/core/kernel/exports/EmuKrnlNt.cpp
  src/core/kernel/exports/EmuKrnlOb.cpp
  src/core/kernel/exports/EmuKrnlRtl.cpp
  src/core/kernel/support/EmuFS.cpp
  src/core/kernel/support/EmuFile.cpp
  src/core/kernel/support/EmuFile.h
  src/core/kernel/support/NativeHandle.cpp
  src/devices/network/NVNetDevice.cpp
  src/devices/video/nv2a.cpp
  src/devices/x86/EmuX86.cpp
  src/gui/DlgAbout.cpp
  src/gui/WndMain.cpp
  src/gui/WndMain.h
Labels: kernel, cpu-emulation, HLE, LLE, graphics, file-system, user interface, input, threading, informational, networking, deployment, cmake

#2326 DirectSoundBuffer streaming
  src/core/common/imgui/audio.cpp
  src/core/common/imgui/settings.h
  src/core/hle/DSOUND/DirectSound/DirectSound.cpp
  src/core/hle/DSOUND/DirectSound/DirectSound.hpp
  src/core/hle/DSOUND/DirectSound/DirectSoundBuffer.cpp
  src/core/hle/DSOUND/DirectSound/DirectSoundGlobal.cpp
  src/core/hle/DSOUND/DirectSound/DirectSoundGlobal.hpp
  src/core/hle/DSOUND/DirectSound/DirectSoundInline.hpp
Labels: HLE, sound, user interface

#2337 Fixed wrong type for MmGlobalData kernel export
  src/core/kernel/common/mm.h
  src/core/kernel/exports/EmuKrnlMm.cpp
  src/core/kernel/memory-manager/PhysicalMemory.cpp
  src/core/kernel/memory-manager/PhysicalMemory.h
  src/core/kernel/memory-manager/PoolManager.cpp
  src/core/kernel/memory-manager/VMManager.cpp
  src/core/kernel/memory-manager/VMManager.h
Labels: kernel, HLE, memory
