Repository Cxbx-Reloaded/Cxbx-Reloaded, pull requests merged in 2022-05, with the labels that each got.

#2355 Fix pull request 2348 regression
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
  src/core/hle/D3D8/XbConvert.cpp
  src/core/hle/D3D8/XbConvert.h
Labels: HLE, graphics

#2353 Fix tls data initialization from cxbxr's emulation threads end
  src/common/Timer.cpp
  src/core/kernel/exports/EmuKrnlPs.cpp
  src/core/kernel/exports/EmuKrnlPs.hpp
  src/core/kernel/init/CxbxKrnl.cpp
  src/core/kernel/support/EmuFS.cpp
Labels: kernel, HLE, timing, threading

#2356 Fixed wrong irql masks
  src/core/kernel/exports/EmuKrnl.cpp
Labels: kernel, HLE

#2357 Make the SBC use the cursor mouse mode by default
  src/common/input/Button.cpp
  src/common/input/EmuDevice.cpp
  src/gui/input/DlgSBControllerConfig.cpp
Labels: user interface, input

#2362 Keep D3D resources alive during resource creation
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
Labels: HLE, graphics

#2360 Do not leave KeDelayExecutionThread prematurely
  src/core/kernel/exports/EmuKrnlKe.cpp
Labels: kernel, HLE

#2363 Minimal SetModelView implementation
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
  src/core/hle/D3D8/FixedFunctionState.cpp
  src/core/hle/D3D8/FixedFunctionState.h
Labels: HLE, graphics

#2359 Fix faux fullscreen overlay input
  src/core/hle/D3D8/Direct3D9/Direct3D9.cpp
Labels: HLE, graphics

#2358 Add build, title name, and file name to overlay
  src/common/Settings.cpp
  src/common/xbe/Xbe.cpp
  src/common/xbe/Xbe.h
  src/core/common/imgui/settings.h
  src/core/common/imgui/ui.cpp
  src/core/common/imgui/video.cpp
Labels: user interface
