Repository Cxbx-Reloaded/Cxbx-Reloaded, pull requests merged in 2022-04, with the labels that each got.

#2340 Implement Thread Stack Readers
  src/common/AddressRanges.h
  src/core/kernel/exports/EmuKrnlRtl.cpp
  src/core/kernel/memory-manager/PhysicalMemory.h
Labels: kernel, HLE, memory

#2341 Clear FILE_NO_INTERMEDIATE_BUFFERING in IoCreateFile
  src/core/hle/D3D8/XbVertexShader.cpp
  src/core/kernel/exports/EmuKrnlIo.cpp
Labels: kernel, HLE, graphics

#2342 Better support for UNC paths
  src/core/kernel/init/CxbxKrnl.cpp
  src/core/kernel/support/EmuFile.cpp
Labels: kernel, HLE, file-system

#2345 Fix order of thread initialization
  src/core/kernel/exports/EmuKrnlPs.cpp
Labels: kernel, HLE
